body {
  background: #25252c;
  min-width: 170px;
}

#title {
  margin: 0 0 10px;
  color: lighten(#7b2649, 10%);
}

.popup {
  color: #fff;

  display: grid;
}

#version {
  font-size: 12px;
  color: white;
}
